version: "3.9"
services:
    db:
        image: postgres:15
        environment:
            POSTGRES_USER: user
            POSTGRES_PASSWORD: pass
            POSTGRES_DB: meu_banco
        volumes:
            - db_data:/var/lib/postgresql/data
        networks:
            - rede

    backend:
        build: ./backend
        environment:
            DB_HOST: db
            DB_NAME: meu_banco
            DB_USER: user
            DB_PASS: pass
        depends_on:
            - db
        networks:
            - rede
        ports:
            - "8080:8080"

    frontend:
        build: ./frontend
        depends_on:
            - backend
        networks:
            - rede
        ports:
            - "80:80"

networks:
    rede:

volumes:
    db_data: